@import url("https://fonts.cdnfonts.com/css/creato-display");
@import "tailwindcss";

body {
  font-family: "Creato Display", sans-serif;
  background-color: white;
}

html,
body {
  width: 100vw !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

.container {
  max-width: 1440px;
  padding: 0 64px;
}

#root {
  width: 100%;
}

input,
button {
  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none !important;
    border: none !important;
  }
}

/* ###############################################################
############################# ACCORDION ##########################
################################################################## */
/* 
.accordionItem {
  &:not(:last-child) {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #0000001a; 
      margin-top: 28px;
    }
  }
} */

/* ###############################################################
############################# TAILWIND ###########################
################################################################## */

@theme {
  --ease-in-pagination: cubic-bezier(0, 0.46, 0.63, 0.56);
  --breakpoint-2xl: 1445px;
}

/* ###############################################################
############################# SPLIDE #############################
################################################################## */

.heroSlider {
  .splide__pagination__page {
    width: 40px !important;
    height: 40px !important;
  }

  .splide__list {
    max-height: 590px !important;
    height: 590px !important;

    @media (max-width: 768px) {
      height: 390px !important;
      max-height: 390px !important;
    }
  }
}

.gradientBorder {
  position: relative;
  background: linear-gradient(90deg, #9264cf 0%, #bea3df 100%);
  z-index: 1;
  border: none !important;

  &:hover {
    border: none !important;
    outline: none !important;
  }

  &::after {
    display: block;
    content: "";
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    inset: 0;
    margin: auto;
    background: linear-gradient(90deg, #7445b2 0%, #8d5bcf 100%);
    z-index: -1;
    overflow: hidden;
    border-radius: 60px;
  }
}
